<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>제목</th>
        <th>작성날짜</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="board: ${boardList}">
            <td th:text="${board.idx}"></td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.createdDate}"></td>

        </tr>
    </tbody>
</table>
</body>
</html>